@tailwind base;
@tailwind components;
@tailwind utilities;

h1{

  color:#f0f8ff;
  background-color: #0d1346;
  text-align: center;
  margin: 150px;
  padding: 150px;
  font-size: 400%;
  display: block;
  font-family: 'Times New Roman', Times, serif;
}

body{

  background-color: #c6d29d;
}